// k:76
$emphasize-black: #1f2d3d;
// k:70
$font-1: #4c4948;
// k:53
$font-2: #797979;
// k:48
$font-3: #858585;
// k:34
$font-4: #a9a9a9;
// $gray: #78818a;
// $relativeToColor:#fff;
$block-shadow: rgba(150, 150, 150, 0.1);
$block-shadow-hover: rgba(150, 150, 150, 0.3);
