@font-face {
  font-family: "iconfont"; /* Project id 3987336 */
  src: url('iconfont.woff2?t=1682165764472') format('woff2'),
       url('iconfont.woff?t=1682165764472') format('woff'),
       url('iconfont.ttf?t=1682165764472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jurassic_text:before {
  content: "\e6a2";
}

.icon-guanli:before {
  content: "\e604";
}

.icon-heiban:before {
  content: "\e676";
}

.icon-yinle1:before {
  content: "\e6b1";
}

.icon-fabuwenzhang:before {
  content: "\e670";
}

.icon-music_playlist:before {
  content: "\e61b";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-dingbu:before {
  content: "\e61f";
}

.icon-lianjie:before {
  content: "\e660";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e602";
}

.icon-qq:before {
  content: "\e603";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun:before {
  content: "\e606";
}

.icon-yueduliang:before {
  content: "\e671";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-github-fill:before {
  content: "\e886";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-fenge:before {
  content: "\e62b";
}

.icon-banbengengxin:before {
  content: "\e64d";
}

.icon-zhiding:before {
  content: "\e63d";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-tupian:before {
  content: "\e8d3";
}

.icon-24gf-tags:before {
  content: "\e885";
}

.icon-grouping:before {
  content: "\e62a";
}

.icon-refresh:before {
  content: "\e609";
}

.icon-liebiao:before {
  content: "\e6be";
}

.icon-close:before {
  content: "\e69e";
}

.icon-home:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e63c";
}

.icon-shangfan:before {
  content: "\e64a";
}

